@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#scrollPath {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#progress-bar {
    z-index: 1000;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}

#progress-bar::before {
    z-index: 1000;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}

#progress-bar::after {
    z-index: 1000;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

@keyframes animate {
    0%,100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}

.light-blue {
    color: #38f5ff;
}

body::-webkit-scrollbar {
    display: none;
}

:root {
    scroll-behavior: smooth;
}

.shadow {
    box-shadow: 0px 10px 44px -4px rgba(44, 234, 255, 0.3);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    transition: all .5s;
}

.header-content {
    background: transparent;
    transition: all .5s;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
}

.hamburger {
    position: absolute;
    top: 20px;
    cursor: pointer;
    right: 20px;
    color: #fff;
    font-size: 3em;
    opacity: 0;
}

.header .logo {
    font-size: 2em;
    color: #fff;
}

.header .navigation {
    display: flex;
    gap: 50px;
}

.navigation-responsive {
    width: 100%;
    height: 0px;
    overflow: hidden;
    justify-content: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 30px;
    gap: 20px;
    transition: all .5s;
    background: #091a2a;
    box-shadow: 0px 35px 44px -4px rgba(44, 234, 255, 0.3);
    padding: 0px;
}

.style {
    height: 400px;
    padding: 20px;
}

.navigation-responsive a {
    text-decoration: none ;
    color: #fff;
}

.header .navigation a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    transition: all .3s;
}

.header .navigation a:hover {
    transform: translateY(6%);
}

.header .navigation a:hover {
    color: #38f5ff;
}

.typed {
    color: #fff;
}

.main {
    background: black;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    position: relative;
    background: url("../img/banner\ page.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #091a2a, transparent);
}

.main-content {
    position: relative;
    left: 0;
}

.modifier span {
    color: #fff;
}

.main h1 {
    color: #fff;
    font-size: 6rem;
}

.description {
    color: #fff;
    width: 450px;
}

.btn {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    position: relative;
    transition: all .5s;
}

.btn:hover {
    color: #38f5ff;
    transform: scale(1.1);
}

.modifier {
    height: 0px;
    padding: 10px 0;
}
.writes {
    font-weight: bold;
    font-style: normal;
    color: #38f5ff;
    font-size: 1.1em;
    font-weight: 600;

}


/* -- ABOUT --*/

.about {
    padding-top: 50px;
    background: #091a2a;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

.about-title {
    color: #fff;
    font-size: 5em;
    transform: translateY(-20px);
}

.about-description div {
    color: #fff;

}

.white {
    color: #fff;
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 50vh;
    font-size: 25px;
}

.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0px);
}

/* --- Skills --- */

.skills {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.real-content {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.skills-section {
    background: #091a2a;
    padding: 50px;
    border-radius: 20px;
    color: #fff;
}

.skills-section section {
    display: flex;
    flex-flow: column nowrap;
    gap: 50px;
    width: 100%;
}

.bar {
    width: 100%;
    height: 20px;
    padding: 3px;
    border-radius: 20px;
    background: #fff;
}

.inter-bar {
    width: 0;
    background: #1168ff;
    z-index: 10;
    border-radius: 20px;
    height: 100%;
}

.html {
    width: 100%;
}

.subtitle {
    font-size: 20px;
}

.percent {
    text-align: center;
}

.bar-content {
    display: flex;
    gap: 10px;
}

.skill-title {
    font-size: 5em;
}

@media(prefers-reduced-motion){
    .hidden {
        transition: none;
    }
}

@media screen and (max-width: 990px){
    .navigation {
        opacity: 0;
    }

    .hamburger {
        opacity: 1;
    }

    .white {
        min-height: 100vh;
    }

    .main {
        padding: 25px;
        background: #091a2a;
    }
}
